<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/header.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__element header__element_title-in">
        <button class="burger-menu__button">
          <svg
            class="burger-menu__icon-more320px"
            width="28"
            height="24"
            viewBox="0 0 28 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 2C0 0.895431 0.895431 0 2 0H26C27.1046 0 28 0.895431 28 2C28 3.10457 27.1046 4 26 4H2C0.895431 4 0 3.10457 0 2Z"
              fill="white"
            />
            <path
              d="M0 12C0 10.8954 0.895431 10 2 10H26C27.1046 10 28 10.8954 28 12C28 13.1046 27.1046 14 26 14H2C0.895431 14 0 13.1046 0 12Z"
              fill="white"
            />
            <path
              d="M0 22C0 20.8954 0.895431 20 2 20H26C27.1046 20 28 20.8954 28 22C28 23.1046 27.1046 24 26 24H2C0.895431 24 0 23.1046 0 22Z"
              fill="white"
            />
          </svg>
          <svg
            class="burger-menu__icon-320px"
            width="24"
            height="20"
            viewBox="0 0 24 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.75 2C0.75 1.30964 1.30964 0.75 2 0.75H22C22.6904 0.75 23.25 1.30964 23.25 2C23.25 2.69036 22.6904 3.25 22 3.25H2C1.30964 3.25 0.75 2.69036 0.75 2Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.75 10C0.75 9.30964 1.30964 8.75 2 8.75H22C22.6904 8.75 23.25 9.30964 23.25 10C23.25 10.6904 22.6904 11.25 22 11.25H2C1.30964 11.25 0.75 10.6904 0.75 10Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.75 18C0.75 17.3096 1.30964 16.75 2 16.75H16C16.6904 16.75 17.25 17.3096 17.25 18C17.25 18.6904 16.6904 19.25 16 19.25H2C1.30964 19.25 0.75 18.6904 0.75 18Z"
              fill="white"
            />
          </svg>
        </button>
        <div class="header__title">
          <h2>товары</h2>
          <h2>и точка</h2>
          <h2 class="title_not-visible-more320">товары и точка</h2>
        </div>
      </div>
      <div class="header__element header__main-input">
        <input class="header__input" placeholder="Я ищу..." type="text" />
        <span class="input__icon"></span>
      </div>
      <div class="header__nav-bar">
        <a class="header__anchor">
          <span class="nav-bar__icon nav-bar__icon_profile"></span> Профиль
        </a>
        <a class="header__anchor">
          <span class="nav-bar__icon nav-bar__icon_cart"></span>
          Корзина
        </a>
        <a class="header__anchor header__anchor_not-visible-more320">
          <span class="nav-bar__icon nav-bar__icon_search"></span>
        </a>
      </div>
    </header>
  </body>
</html>
