.cart {
  display: flex;
  gap: 32px;
}

.cart__content {
  width: calc(100% / 12 * 9 - 40px);
}

.cart__header h2 {
  color: var(--text-black, #000);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.9px;
  margin: 13px 0 23px 0;
}

.cart__divider {
  background: var(--rulers-rulers, rgba(0, 0, 0, 0.1));
  height: 1px;
  width: 100%;
}

.cart__payment-type {
  margin-bottom: 18px;
}

.cart__form-wrapper {
  margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
  .cart {
    flex-direction: column;
  }
  .cart__content {
    width: 100%;
  }

  .cart__header {
    padding: 0 16px;
  }

  .cart__header h2 {
    font-size: 20px;
    margin: 13px 0 10px 0;
  }

  .cart__items,
  .cart__items-absence {
    padding: 0 16px;
  }
  .cart__payment-type {
    margin: 12px 0 18px;
  }
}
