<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./form.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="" class="cart-form">
      <div class="cart-form__header">
        <h3>Получатель</h3>
      </div>
      <div class="cart-form__top">
        <div class="cart-form__name">
          <label class="cart-form__label">
            <input class="cart-form__input" type="text" placeholder="name" />
            <span class="cart-form__subtitle">Имя</span>
          </label>
        </div>
        <div class="cart-form__name">
          <label class="cart-form__label">
            <input class="cart-form__input" type="text" placeholder="surname" />
            <span class="cart-form__subtitle">Фамилия</span>
          </label>
        </div>
      </div>
      <div class="cart-form__bottom">
        <div class="cart-form__name cart-form__name_bottom">
          <label class="cart-form__label">
            <input class="cart-form__input" type="email" placeholder="email" />
            <span class="cart-form__subtitle">Почта</span>
          </label>
        </div>
        <div class="cart-form__name cart-form__name_bottom">
          <label class="cart-form__label">
            <input class="cart-form__input" type="tel" placeholder="number" />
            <span class="cart-form__subtitle">Телефон</span>
          </label>
        </div>
        <div class="cart-form__name cart-form__name_bottom">
          <label class="cart-form__label">
            <input class="cart-form__input" type="text" placeholder="id" />
            <span class="cart-form__subtitle">ИНН</span>
            <span class="cart-form__additional-info"
              >Для таможенного оформления</span
            >
          </label>
        </div>
      </div>
    </form>
  </body>
</html>
